<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
</head>
<body>

    <form action="/calc">

        <label for="name">a:</label>
        <input type="number" name="a" placeholder="a" value="{{ a }}"> <br><br>

        <label for="operator">Operator:</label>
        <select name="operator">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
            <option value="*">*</option>
        </select> <br> <br>


        <label for="name">b:</label>
        <input type="number" name="b", placeholder="b" value="{{ b }}"> <br><br>

        <button type="submit">Hisobla</button>

    </form>

    <h1>Natija: {{ result }}</h1>
    
</body>
</html>
