<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
</head>
<body>

    <h1>Ro'yxatdan o'tish</h1>

    <form action="/register" method="post">

        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Enter Name"><br><br>

        <label for="name">Username:</label>
        <input type="text" name="username" placeholder="Enter Username"><br><br>

        <label for="name">Email:</label>
        <input type="email" name="email" placeholder="Enter Email"><br><br>

        <label for="name">Password:</label>
        <input type="password" name="password" placeholder="Enter Password"><br><br>

        <button type="submit">Yuborish</button>

    </form>
    
</body>
</html>
